In [1]:
import pandas as pd
import numpy as np
import os 
import re
import cx_Oracle
import string

def corrABS(df1,df2):
    df1_cr = df1.iloc[0::2,:] #1st cell for crude
    df2_fx7 = df2.iloc[1::2,:] #last cell for 7th fx
    dft = df1_cr.transpose().iloc[::-1].transpose().iloc[::-1] #flip
    dflstt = [item for sublist in dft.values.tolist() for item in sublist]
    dflst1 = [item for sublist in df1_cr.values.tolist() for item in sublist]
    dflst2 = [item for sublist in df2_fx7.values.tolist() for item in sublist]
    dfarr_cr = convertFloatArray(dflst1)
    dfarr_fx7 = convertFloatArray(dflst2)
    dfarr_t = convertFloatArray(dflstt)
    return (np.corrcoef(dfarr_cr,dfarr_fx7)[0][1],np.corrcoef(dfarr_t,dfarr_fx7)[0][1])

def checkVarType(var):
    if isinstance(var,list):
        var = np.array(var)
    return var

def convertFloatArray(var):
    a = checkVarType(var)
    if np.isin(a,'OVRFLW').any():
        a[a=='OVRFLW']=0
        a=a.astype(np.float)
        a[a==0]=np.amax(a)        
        return a
    else:
        return a.astype(np.float)

In [16]:
def splStr(strg):
    t_strg = strg.split('.')
    return t_strg[0]

def readata(filename,fx=None,filterData=False):
    fileNameString = splStr(filename)
    collectionNum = fileNameString[:8]
    suffix = fileNameString[8:]
    if filterData:
        if int(fx)==7 or suffix == '100':
            df = pd.read_excel(fpath+'/'+filename,usecols=list(range(3,15,2)))
        elif int(fx)==6:
            df = pd.read_excel(fpath+'/'+filename,usecols=list(range(4,15,2)))
    else:
        df = pd.read_excel(fpath+'/'+filename,usecols=list(range(3,15)))       
    return (df,collectionNum,suffix)

def dfRowColDict(df):
    df.index = [i for i in string.ascii_uppercase[:len(df)]]
    colSuffix = [f'0{i}' if len(str(i)) <2 else str(i) for i in df.columns]
    rowDict = {k:v for k,v in zip(range(len(df)),string.ascii_uppercase[:len(df)])}
    colDict = {k:v for k,v in zip(range(len(df.columns)),colSuffix)}
    return (rowDict,colDict)

In [10]:
def genPropArray(df,pltcode,pltsuf,wavelh):
    dfarray = convertFloatArray(df.values)
    dim = dfarray.shape
    wellIDarray = np.zeros(dim).astype(str)
    mdim = dim[0]*dim[1]
    multiply = lambda x:[x]*mdim
    properties = [np.array(i).reshape(dim) for i in list(map(multiply,[pltcode,pltsuf,wavelh]))]
    for i in range(dim[0]):
        for j in range(dim[1]):
            array_idx = np.where(dfarray==dfarray[i][j])
            k = array_idx[0][0]
            v = array_idx[1][0]
            wellIDarray[i][j] = '{}{}'.format(rowDict[k],colDict[v])
    properties.append(wellIDarray)
    properties.append(dfarray)
    return properties

In [20]:
import sqlite3
from sqlite3 import Error

def create_connection(db_file):
    try:
        conn = sqlite3.connect('file:{}?mode=rwc'.format(db_file),uri=True) #Read, Write & Create mode, so connecting to a non-existing database will cause it to be created
        print('sqlite3 version: '+sqlite3.version+'\n==============\n')
        return conn
    except Exception as e:
        print(e)

def create_table(conn,tableName):
    exec_1 = 'CREATE TABLE IF NOT EXISTS '
    exec_2 = ''' (plate_code INTEGER,plate_suffix TEXT,plate_position TEXT, reading REAL,wavelength TEXT)'''
    c = conn.cursor()
    c.execute(exec_1 + tableName + exec_2)
    
def data_entry(conn,listOfVals,tbl):
    exec_1 = '''INSERT INTO '''
    exec_2 = ''' (plate_code,plate_suffix,plate_position,reading,wavelength) VALUES (?,?,?,?,?)'''
    c = conn.cursor()
    c.execute(exec_1 + tbl + exec_2,listOfVals)

In [25]:
fpath = '/users/spencertrinh/downloads'
File,wavelh = '14170909200.xlsx','660'
dataPltCodeSuffix=readata(File) #read filename and generate dataframe
dictDat=dfRowColDict(dataPltCodeSuffix[0]) #generate dictionary values for well ID
rowDict= dictDat[0] #row dictionary
colDict= dictDat[1] #column dictionary
allData = genPropArray(dataPltCodeSuffix[0],dataPltCodeSuffix[1],dataPltCodeSuffix[2],wavelh)
conn = create_connection('wellAbs.db')
for i in range(len(allData)):
    for j in range(allData[0].shape[1]):
        values = [allData[0][i][j], #pltcode
                  allData[1][i][j], #pltsuffix
                  allData[3][i][j], #plt position
                  allData[4][i][j], #reading
                  allData[2][i][j]] #wavelength
        with conn:
            data_entry(conn,values,'wellAbs')

sqlite3 version: 2.6.0
==============

In [45]:
colnames

['plate_code', 'plate_suffix', 'plate_position', 'reading', 'wavelength']

In [44]:
c = conn.cursor()
c.execute("SELECT * FROM wellAbs")
colnames = list(map(lambda x: x[0], c.description))
result_set = c.fetchall()
for row in result_set:
    print(row)

(14170909, '200', 'A03', 1.743, '660')
(14170909, '200', 'A04', 1.023, '660')
(14170909, '200', 'A05', 0.486, '660')
(14170909, '200', 'A06', 0.416, '660')
(14170909, '200', 'A07', 0.848, '660')
(14170909, '200', 'A08', 0.58, '660')
(14170909, '200', 'A09', 0.477, '660')
(14170909, '200', 'A10', 0.41, '660')
(14170909, '200', 'A11', 0.616, '660')
(14170909, '200', 'A12', 0.504, '660')
(14170909, '200', 'A13', 0.394, '660')
(14170909, '200', 'A14', 0.243, '660')
(14170909, '200', 'B03', 0.371, '660')
(14170909, '200', 'B04', 1.0, '660')
(14170909, '200', 'B05', 0.208, '660')
(14170909, '200', 'B06', 0.345, '660')
(14170909, '200', 'B07', 0.241, '660')
(14170909, '200', 'B08', 0.246, '660')
(14170909, '200', 'B09', 0.54, '660')
(14170909, '200', 'B10', 0.264, '660')
(14170909, '200', 'B11', 1.098, '660')
(14170909, '200', 'B12', 0.298, '660')
(14170909, '200', 'B13', 0.213, '660')
(14170909, '200', 'B14', 0.268, '660')
(14170909, '200', 'C03', 0.408, '660')
(14170909, '200', 'C04', 0.192, '660')
(14170909, '200', 'C05', 1.481, '660')
(14170909, '200', 'C06', 0.185, '660')
(14170909, '200', 'C07', 0.901, '660')
(14170909, '200', 'C08', 0.188, '660')
(14170909, '200', 'C09', 1.148, '660')
(14170909, '200', 'C10', 0.365, '660')
(14170909, '200', 'C11', 1.019, '660')
(14170909, '200', 'C12', 0.418, '660')
(14170909, '200', 'C13', 0.377, '660')
(14170909, '200', 'C14', 0.277, '660')
(14170909, '200', 'D03', 0.326, '660')
(14170909, '200', 'D04', 0.503, '660')
(14170909, '200', 'D05', 1.717, '660')
(14170909, '200', 'D06', 0.202, '660')
(14170909, '200', 'D07', 0.271, '660')
(14170909, '200', 'D08', 0.242, '660')
(14170909, '200', 'D09', 0.353, '660')
(14170909, '200', 'D10', 0.207, '660')
(14170909, '200', 'D11', 0.204, '660')
(14170909, '200', 'D12', 0.17, '660')
(14170909, '200', 'D13', 0.575, '660')
(14170909, '200', 'B08', 0.246, '660')
(14170909, '200', 'E03', 0.349, '660')
(14170909, '200', 'E04', 0.212, '660')
(14170909, '200', 'E05', 0.559, '660')
(14170909, '200', 'E06', 0.18, '660')
(14170909, '200', 'E07', 1.056, '660')
(14170909, '200', 'E08', 0.444, '660')
(14170909, '200', 'E09', 0.913, '660')
(14170909, '200', 'E10', 0.261, '660')
(14170909, '200', 'E11', 0.762, '660')
(14170909, '200', 'E12', 0.312, '660')
(14170909, '200', 'E13', 1.1, '660')
(14170909, '200', 'E14', 0.61, '660')

In [ ]:
conn = create_connection('wellAbs.db')
with conn:
    create_table(conn,"wellAbs")
conn.close()

In [22]:
def drop_table(conn,tblname):
    sql1 = 'DROP TABLE '
    sql2 = '{}'.format(tblname)
    c = conn.cursor()
    c.execute(sql1+sql2)
    conn.commit()  
    
drop_table(conn,'wellAbs')